@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Yanone+Kaffeesatz:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------------------------*/

body{
    display: flex;
    flex-direction: column;
}

header{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 75px;
    width: 100vw;

    background-color: #FEBC3E;

    border-bottom: black;
}

.logo{
    display: flex;
    align-items: center;
    height: 75px;
    user-select: none;
}
.logo img{
    width: 30px;
    position: cover;
}

.titulo h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 30px;
    padding-right: 90px;
}

.links{
    width: 350px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.links a{
    font-family: 'Baloo Tammudu 2', cursive;
    height: 25px;
    text-decoration: none;
    font-size: 13px;
    color: white;

    transition: 0.1s;
}
.links a:hover{
    border-bottom: 2px solid #C77B00;
}

.delivery{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 70px;
    padding-left: 10px;

    height: 35px;
    width: 170px;

    background-color: #FEA100;

    border: none;
    border-radius: 25px;

    user-select: none;

    transition: 0.5s;
}
.delivery:hover{
    background-color: #C10B28;
}

.delivery img{
    width: 30px;
    padding-right: 10px;
}

.delivery p{
    font-family: 'Baloo Tammudu 2', cursive;
    padding-top: 5px;
    height: 33px;
    font-size: 13px;
    color: white;
}

/*-------------------------------------------*/

.highlight{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 520px;
    width: 100vw;

    background-color: #FEBC3E;
}

.menu{
    display: flex;
    flex-direction: row;
    height: 385px;
    user-select: none;
}

.img{
    display: flex;
    flex-direction: column;
    background-color: #C10B28;
}
.img img{
    display: flex;
    justify-content: center;
    width: 25px;
    margin: 15px;
}

.txt{
    display: flex;
    flex-direction: column;
}
.txt a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    margin: 14px;
    font-family: 'Baloo Tammudu 2', cursive;
    text-decoration: none;
    color: black;
}
.txt a:hover{
    color: white;
}

/*-------------------------------------------*/


.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    width: 100vw;
}

.background{
    width: 490px;
    opacity: 0.1;
}

.hamburger{
    width: 610px;
    position: absolute;
    filter: saturate(75%);
}

/*-------------------------------------------*/

.hamburger-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: rotate(-7deg);
}
.offer{
    display: flex;
    flex-direction: row;
}
.offer hr{
    display: flex;
    flex-direction: row;
}

.hamburger-name p{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}
.hamburger-name h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 95px;
}
.hamburger-name h2{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
}

/*-------------------------------------------*/

.contact{
    display: flex;
    flex-direction: column;
    height: 385px;
    width: 140px;
    background-color: teal;
}

.number{
    display: flex;
    height: 385;
    width: 70px;
    transform: rotate(90deg);
}
.number a{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 25px;
    
    background-color: #C10B28;

    transition: 0.5s;
}
.number a:hover{
    color: #FEA100;
}

/*-------------------------------------------*/

.sale-top{
    margin-top: 20px;
}
.sale-bottom{
    margin-bottom: 40px;
}

.sale-top, .sale-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sale-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*preset h1*/
.sale-top h1{
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 50px;
    padding-bottom: 15px;font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 40px;
}

/*quadro 1:*/
.sale1{
    width: 375px;
    height: 150px;
    background-image: url(img/sale/flame\ grilled.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.600);
    background-size: cover;
    margin: 15px;
}
#price1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #C10B28;
    border-radius: 50%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 18px;
}
#offer-time1{
    margin-top: 25px;
    padding-left: 15px;
    background-color: #FEBC3E;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 15px;
    height: 25px;
    width: 140px;
}

/*quadro 2:*/
.sale2{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 175px;
    height: 150px;
    background-color: #FEBC3E;
    margin: 15px;
}
.sale2 img{
    display: flex;
    width: 75%;
    height: 75px;
}
.sale2-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    text-align: center;
}
.sale2 h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 25px;
}
.sale2 p{
    font-family: 'Baloo Tammudu 2', cursive;
    padding-top: 5px;
}

/*quadro3:*/
.sale3{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 175px;
    height: 150px;
    background-image: url(img/sale/hot\ dog.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.600);
    background-size: cover;
    margin: 15px;
}
.sale3 h1{
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 25px;
}

/*quadro 4:*/
.sale4{
    width: 375px;
    height: 150px;
    background-image: url(img/sale/spicy\ burger.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.600);
    background-size: cover;
    margin: 15px;
}
#price2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #FEBC3E;
    border-radius: 50%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 18px;
}
#offer-time2{
    margin-top: 25px;
    padding-left: 15px;
    background-color: #C10B28;
    color: white;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 15px;
    height: 25px;
    width: 140px;
}

/*quadro 5:*/
.sale5{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 175px;
    height: 150px;
    background-image: url(img/sale/3\ burger\ offer.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.600);
    background-size: cover;
    margin: 15px;
}

.sale5 h1{
    padding-top: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 25px;
}

/*quadro 6:*/
.sale6{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 175px;
    height: 150px;
    background-color: #C10B28;
    margin: 15px;
}
.sale6 img{
    display: flex;
    width: 75%;
    height: 75px;
}
.sale6-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    text-align: center;
}


.sale6 h3{
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
}
.sale6 h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #FEBC3E;
    font-size: 40px;
}

/*-------------------------------------------*/

.order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2B2B2B;
    width: 100vw;
    height: 365px;
    padding-top: 50px;
}

.img-combo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-txt{
    display: flex;
    flex-direction: column;
}

.order-info, .order-info2{
    display: flex;
    flex-direction: row;
}

.order-background{
    opacity: 0.06;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.order-cifrao{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #FEBC3E;
    font-size: 87px;
    height: 120px;
}
.order-valor{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #FEBC3E;
    font-size: 148px;
    height: 120px;
    margin-right: 30px;
}
.order-name{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 65px;
    width: 285px;
    height: 120px;
}
.order-obs{
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
    font-size: 10px;
}
.order-delivery{
    font-family: 'Dancing Script', cursive;
    color: #FEBC3E;
    font-size: 22px;
    transform: rotate(-9deg);
    padding-left: 20px;
}
#order-btn{
    background-color: #C10B28;
    margin-top: 25px;
    margin-right: 5px;
    width: 180px;
    height: 30px;
    border: none;
    color: white;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 15px;
}

.img-combo img{
    width: 290px;
}

/*-------------------------------------------*/

.burger-today{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 15px;
}

.burger-today h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
}

.burger-today p{
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
    margin-top: 10px;
}

.burgers{
    width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C10B28;
}


.burger-left, .burger-rigth{
    width: 30%;
    margin: 10px;
}
.burger-center{
    width: 40%;
    margin: 10px;
}

/*-------------------------------------------*/

.icons{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding-left:300px;
    padding-right: 300px;

    width: 100vw;

    background-image: url(img/food-background2.png);
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    background-color: rgba(20, 20, 20, 0.9);
}

.icon-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.icon-txt img{
    width: 60px;
}
.icon-txt p{
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
    font-size: 12px;
    padding-top: 7px;
}

/*-------------------------------------------*/

.tasty-burgers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
}
.tasty-burgers h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
}
.tasty-burgers p{
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
    margin-top: 10px;
}


.burgers-category-buttons{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 13px;
    color: white;
}
.burgers-category-buttons button{
    border: none;
    border-radius: 25px;
    user-select: none;
    height: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
}
.burgers-category-buttons button:focus{
    background-color: #FEA100;
    color: white;
}


.burger-table{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    width: 820px;
}
.burger-table tr{
    width: 100%;
    height: 200px;
}
.burger-table td{
    width: 25%;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(245, 245, 245);
    transition: 0.3s;
}
.burger-table td:hover{
    box-shadow: 0 0 1em  #FEA100;
    background-color: white;
}
.burger-table img{
    width: 100%;
    height: 150px;
}

.burger-table h1{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 17px;
    text-align: center;
}
.burger-table hr{
    border: 1px solid #FEA100;
}
.burger-table p{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 12px;
    text-align: center;
}


.reload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    background-color: #FEA100;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
.reload img{
    width: 18px;
}
.reload p{
    font-family: 'Baloo Tammudu 2', cursive;
    padding-left: 10px;
    font-size: 12px;
    color: white;
}

/*-------------------------------------------*/